In [1]:
from sqlalchemy import create_engine 
from dotenv import load_dotenv
import os
import pandas as pd
import psycopg2

load_dotenv()

DATABASE_URL = os.getenv("DATABASE_URL")
if DATABASE_URL and DATABASE_URL.startswith("postgres://"):
    DATABASE_URL = DATABASE_URL.replace("postgres://", "postgresql://", 1)
    
engine = create_engine(DATABASE_URL, echo = False)

In [6]:
df = pd.read_csv("output.csv", index_col=0)

df.to_sql('data', con=engine, if_exists="append")

42

In [7]:
query = f"""SELECT * FROM data"""

In [8]:
import psycopg2

con = psycopg2.connect(DATABASE_URL)
cur = con.cursor()

In [39]:
test_data = pd.read_csv("output.csv")

In [48]:
test_data.head(1)

,category,title,link,organiser,date,day,time,address
0,VISUAL ARTS,BreatheWater,https://www.esplanade.com/festivals-and-series...,Parvathi Nayar (India),25 Mar – 24 Jul 2022,Fri – Sun,All Day,Theatre Street Cones

In [49]:
df.head(1)

,category,title,link,organiser,date,day,time,address
0,category_test,title_text,link_text,organiser_text,date_text,day_text,time_text,address_text

In [50]:
data_new = pd.concat([test_data, df], axis=0)

In [52]:
data_new.tail()

,category,title,link,organiser,date,day,time,address
38,THEATRE,Recipes for Wayfinding (Care Index) Installation,https://www.esplanade.com/festivals-and-series...,Alecia Neo (Singapore),28 Jul – 24 Sep 2022,Thu – Sat,All Day,Esplanade Roof Terrace
39,THEATRE,In Their Own Words: Writing Verbatim Plays,https://www.esplanade.com/festivals-and-series...,Haresh Sharma (Singapore),27-Aug-22,Sat,12pm,library@esplanade
40,THEATRE,Performing Grief,https://www.esplanade.com/festivals-and-series...,"Mohd Fared Jainal, Chong Tze Chien, Jolene Chi...",10-Sep-22,Sat,3pm,library@esplanade
41,THEATRE,In Conversation: And So The Conversations Cont...,https://www.esplanade.com/festivals-and-series...,Checkpoint Theatre (Singapore),24-Sep-22,Sat,3pm,library@esplanade
0,category_test,title_text,link_text,organiser_text,date_text,day_text,time_text,address_text

In [44]:
test = [] 
test.append({'category': "category_test",
                    'title': 'title_text',
                    'link': 'link_text',
                    'organiser': 'organiser_text',
                    'date': 'date_text',
                    'day': 'day_text',
                    'time': 'time_text',
                    'address': 'address_text'})

In [45]:
df = pd.DataFrame(test)

In [46]:
df

,category,title,link,organiser,date,day,time,address
0,category_test,title_text,link_text,organiser_text,date_text,day_text,time_text,address_text

In [21]:
def check_update(df, new_titles, con):
    query = f"""SELECT * FROM data"""
    old_title = list(pd.read_sql(query, con).loc[:,"title"])
    print("Number of old titles: {}".format(len(old_title)))
    for title in list(df["title"]):
        if title not in old_title:
            new_titles.append(title)
    print("Number of new new titles: {}".format(len(new_titles)))
    return new_titles

In [54]:
new_titles = []
update = check_update(data_new, new_titles, con)

c:\Users\joann\Anaconda3\envs\tensorflow-gpu\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Number of old titles: 42
Number of new new titles: 1

In [55]:
df_update = df[df["title"].isin(update)]

In [56]:
df_update

,category,title,link,organiser,date,day,time,address
0,category_test,title_text,link_text,organiser_text,date_text,day_text,time_text,address_text

In [ ]:
df_update.to_sql('data', con=engine, if_exists="append", index=False)

In [1]:
import pandas as pd
import time
import csv
import os
import sys

# Selenium Web Scraping
from selenium import webdriver
from selenium.webdriver.chrome import options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait as wait
from selenium.webdriver.chrome.service import Service
from dotenv import load_dotenv
from tqdm import tqdm
import telegram

# SQL Database
import psycopg2
from sqlalchemy import create_engine

In [2]:
load_dotenv()

True

In [3]:
url = "https://www.esplanade.com/whats-on?performanceNature=Free+Programme"
API_KEY = os.getenv("API_KEY")
CHAT_ID = os.getenv("CHAT_ID")
DATABASE_URL = os.getenv("DATABASE_URL")

In [4]:
 # setting up options
chrome_options = webdriver.ChromeOptions()
#chrome_options.binary_location = os.getenv("GOOGLE_CHROME_BIN")
#chrome_options.add_argument("--headless")
chrome_options.add_argument('--disable-gpu')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument("disable-dev-shm-usage")
driver = webdriver.Chrome("chromedriver.exe", chrome_options=chrome_options)
#driver = webdriver.Chrome(service=Service(os.getenv("CHROMEDRIVER_PATH")), options=chrome_options)

C:\Users\joann\AppData\Local\Temp\ipykernel_24252\1715630161.py:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver.exe", chrome_options=chrome_options)
C:\Users\joann\AppData\Local\Temp\ipykernel_24252\1715630161.py:8: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome("chromedriver.exe", chrome_options=chrome_options)

In [5]:
driver.get(url)

In [6]:
current_site = driver.current_url

In [17]:

driver.find_elements(By.XPATH, "//div[@x-show='showLoadMore']")[0].click()

In [19]:
element = driver.find_elements(By.XPATH, "//div[@class='card-root h-full w-full']/a")[-1]
driver.execute_script("arguments[0].scrollIntoView();", element)

In [20]:
load_more = driver.find_elements(By.XPATH, "//div[@x-show='showLoadMore']")[0].text

while load_more == "Load more":
    element = driver.find_elements(By.XPATH, "//div[@class='card-root h-full w-full']/a")[-1]
    driver.execute_script("arguments[0].scrollIntoView();", element)
    time.sleep(2)
    driver.find_elements(By.XPATH, "//div[@x-show='showLoadMore']")[0].click()
    time.sleep(5)
    element = driver.find_elements(By.XPATH, "//div[@class='card-root h-full w-full']/a")[-1]
    driver.execute_script("arguments[0].scrollIntoView();", element)
    time.sleep(2)
    load_more = driver.find_elements(By.XPATH, "//div[@x-show='showLoadMore']")[0].text

In [140]:
driver.find_elements(By.XPATH, "//div[@class='card-root h-full w-full']/a")[1].get_attribute('href')

'https://www.esplanade.com/whats-on/festivals-and-series/series/2022/contemporary-performing-arts-research-residency/zhang-yuan'

In [ ]:
items_elems[i].get_attribute('href')

In [64]:
item_elems = driver.find_elements(By.XPATH, "//div[@class='card-root h-full w-full']")
driver.find_elements(By.XPATH, "//div[@class='card-root h-full w-full']")[0].click()

In [119]:
driver.find_elements(By.XPATH, "//div[@class='col-span-5']/div[@class='body-2  !font-semibold']")[0].text

'Music'

In [120]:
driver.find_elements(By.XPATH, "//div[@class='col-span-5']/div[@class='mb-8']/h1")[0].text

'When Worlds Collide'

In [121]:
driver.find_elements(By.XPATH, "//div[@class='col-span-5']/div[@class='mb-8']/div[@class='body-2 rte']")[1].text

'Faiz Syazani, Janaki Nair, Rachma Lim (Singapore)'

In [122]:
driver.find_elements(By.XPATH, "//div[@class='col-span-5']/div[@class='flex justify-start body-2 mb-8']")[0].text

'25 Jun 2022, Sat, 5.15pm, 6.15pm & 7.15pm'

In [123]:
driver.find_elements(By.XPATH, "//div[@class='col-span-5']/div[@class='flex justify-start body-2 mb-8']")[2].text

'Esplanade Concourse'